
<ul>
    <li *ngFor="let movie of movies">
        <div [ngClass]="{ watched: movie.watched}" class="li-info">
            <div class="li-info-top">{{movie.title}} </div>
            <div class="li-info-bottom">{{ movie.director }} &#8226; {{ movie.releaseDate }}</div>
        </div>
        <div class="btn-container">
            <app-button 
            (btnClick)="markWatched(movie)"
            btnColor="{{ movie.watched ? '#EEB868' : '#49DCB1' }}" 
            btnText="{{ movie.watched ? 'Rewatch' : 'Watched' }}">
            </app-button>
            <app-button 
            (btnClick)="removeFromList(movie)"
            btnColor="{{ btnColor }}" 
            btnText="{{ btnText }}">
            </app-button>
        </div>
        
    </li>
</ul>

<app-search *ngIf="showSearchForm" (addMovieToDb)="addMovie($event)"></app-search>


<!-- 
    btnColor="{{ watchedBtnColor }}" 
            btnText="{{ watchedBtnText }}"
 -->